@import "bootstrap.css";
@import "flickity.css";


body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}


@keyframes darken {
    0% {opacity:0%;}
    100% {opacity:10%;}
}


.bg-grad-dark {
    background: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
}


.navbar-top {
    top: 0;
    z-index: 3;
    height: 30px;
    background-image: url('../image/background-nav.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 100%;
}


.stretched-link {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0%;
    border-radius: 5px;
}
.stretched-link:hover {
    animation: darken 0.3s;
    opacity: 10%;
}


.variant-list {
    box-sizing: border-box;
    padding: 10px;
}
.variant-list .variant-item {
    position: relative;
    display: flex;
    border-radius: 5px;
}